  <div class="row" ng-show='state.showCancel' > 
     Waiting to other players to join... <br>
     <button type="button" ng-click="cancelGame()"  class="btn btn-default btn-lg"><span class="glyphicon glyphicon-bell"></span> 
       Cancel game! 
     </button>
  </div>
