  <div class="row" ng-show='state.showCancel' > 
     Waiting to other players to join... <br>
     <button type="button" ng-click="cancelGame(state.gameinv_id)"  class="btn btn-sm"><span class="glyphicon glyphicon-bell"></span> 
       Cancel game! 
     </button>
  </div>
