  <div class="row instruction" ng-show='state.showCreate'>
    You can create your own game  <br/>
    <button type="button" ng-click="createGame()"  class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-star"></span> Create game
    </button>
  </div>
